/*----- BODY -----*/
body{
	/* default bowser font size 16px, with font size of 62.5% => 1em = 10px */
	font-size: 62.5%;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Opera */
	background-image: -o-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #404040));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to top, #000000 0%, #404040 100%);
}

/*----- PAGE WRAPPER -----*/
#wrapper{
	font-family: 'Roboto', sans-serif;
	max-width: 96em;
	margin: 3% auto;
}

/*----- HEADER -----*/
#header{
	margin-bottom: 1%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	max-height: 17em;
	position: relative;
}

.social{
	z-index: 1;
	position: absolute;
	margin-left: 97%;
	margin-top: 0.5em;
}

.social img{
	width: 2em;
	margin-left: 0.em;
}

#logo{
	width: 20%;
	z-index: 1;
	max-height: inherit;
}

#logo img{
	z-index: 1;
	position: relative;
	width: 110%;
	margin-top: -12.5%;
	left: 4%;
}

#container-right{
	width: 80%;
	text-align: center;
}

#text{
	font-family: 'Julius Sans One', sans-serif;
	color: #303030;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 500%;
	width: 100%;
	text-align: center;
	letter-spacing: 0.25em;
	margin-top: 5%;
}

#menu{
	margin-top: 6%;
	width: 100%;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.4em;
	text-align: center;
}

#menu ul{
	list-style:none;
	padding: 0;
}

#menu li{
	display: inline;
	margin-right: 5em;
	padding: 0 0.4em;
	text-align: center;
}

#menu .last{
	margin-right: 0;
}

#menu li a {
	text-decoration: none;
}

#menu li a span{
	color: #303030;
}

#menu .active, #menu li:hover{
	border-bottom: 0.15em solid #303030;
}

/*----- PAGE CONTENT -----*/
#content{
	padding: 2.8em 2.5% 3em 2.5%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	margin-bottom: 1%;
}

/*----- WHO WE ARE -----*/
#mask{
	background-color: transparent;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#main-container{
	height: 39em;
}

.slide{
	vidibility: hidden;
}

.slide img{
	width: 100%;
}

.current {
    display: block;
}

#upper-shadow img{
	width: 100%;
}

#description{
	font-size: 1.4em;
	margin-top: -5%;
	line-height: 2.5em;
	text-align: justify;
}

/*----- PLAY WITH US-----*/
#play-container{
	width: 100%;
}

#play-left{
	font-size: 1.2em;
	width: 71%;
	margin-right: 1%;
	text-align: justify;
}

#play-left p, #play-left li{
	font-size: 1.2em;
}

#play-right{
	font-size: 1.2em;
	width:28%;
}

#play{
	background-image: url(../img/background_05.png);
	line-height: 2.5em;
	border-radius: 1em;
	padding: 1.5em 2.5%;
}

.keep-calm{
	width: 20em;
	margin: 1em 2% 0 0;
	border-radius: 1em;
}

.text-paragraph ul{
		margin-left: 25px;
}

#download{
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	line-height: 2.5em;
	padding: 1.5em 4% 1em 4%;
}

#download span:first-child{
	font-size: 1.2em;
	font-weight: bold;
}

#download span {
	font-size: 0.9em;
}

#download div{
	margin-bottom: 1em;
	display: block;
	cursor: pointer;
	margin-left: 0.5em;
}

#download div a span:hover{
	border-bottom: 0.15em solid #303030;
}

#download div .first{
	margin-top: 1em;
}

#download img{
	margin-right: 0.8em;
	vertical-align: middle;
}

.download-thumbnail{
	width: 1.4em;
	height: 1.4em;
}

#contact{
	font-size: 1.15em;
	margin-top: 0.7em;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	line-height: 2.5em;
	padding: 1em 4% 1.3em 4%;
}

#contact span:first-child{
	font-size: 1.2em;
	font-weight: bold;
}

#contact div{
	display: block;
	margin-left: 0.5em;
	letter-spacing: 0.1em;
}

#contact div a:hover{
	border-bottom: 0.1em solid #303030;
}

#contact img{
	margin-right: 0.5em;
	vertical-align: middle;
	margin-bottom: 0.5em;
}

.email-thumbnail{
	width: 1.2em;
	height: 1.2em;
}

.phone-thumbnail{
	width: 1.2em;
	height: 1.2em;
}

/*----- GALLERY -----*/
div#album-preview{
	overflow: hidden;
	position: relative;
    background-color: transparent;
}

div#album-image{
	position: relative;
}

a.image-link img{
	width: 912px;
}

.album-slider{
	position: absolute;
	width: 100%;
	height: 50em;
}

.description{
	position: absolute;
	top: 42em;
	z-index: 1;
	height: 8em;
	color: #B0B0B0;
	background-color: #303030;
	opacity: 0.85;
	width: 100%;
}

.info-container{
	height: 8em;
	position: relative;
	overflow: hidden;
	width: 90%;
}

.info{
	position: absolute;
	padding: 0.2em 0 0 3%;
	font-size: 1.4em;
	line-height: 1.4em;
}

.button-container{
	width: 5%;
}

#button-left{
	height: 6em;
	cursor: pointer;
	padding: 1em 0 1em 1em;
}

#button-right{
	height: 6em;
	cursor: pointer;
	padding: 1em 1em 1em 0;
}

.album-date{
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.album-title{
	font-size: 1.3em;
	margin-top: 0.1em;
	letter-spacing: 0.15em;
	font-weight: bold;
}

.album-description{
	font-size: 1.07em;
	font-style: italic;
	margin-top: 0.6em;
}

.title-link:hover{
	text-decoration: underline;
}

/*----- BOARD -----*/
.post{
	font-size: 1.4em;
	padding: 2.8em 2.5% 2.8em 2.5%;
	background-image: url(../img/background_05.png);
	border-radius: 0.8em;
	margin-bottom:  0.9em;
}

.transparent{
	opacity: 0.8;
}

.post:hover{
	opacity: 1;
}

.last{
	margin-bottom: 0 !important;
}

.post .title{
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 0.4em;
}

.meta{
	font-size: 0.8em;
	margin: 0 0 1em;
}

.meta .author{
	font-weight: bold;
	text-transform: capitalize;
}

.entry *{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1em !important;
	text-align: justify !important;
	line-height: 1.7em !important;
	margin: 0 !important;
	padding: 0 !important;
	color:  inherit !important;
	letter-spacing: 0.05em;
}

.entry a{
	color: #B40404 !important;
	font-weight: bold;
}


.entry a:hover{
	text-decoration: underline;
}

/*----- PHOTOGALLERY -----*/
.back{
	width: 5%;
}

#photogallery{
	width: 95%;
}

#photogallery img{
	margin: 0.5% 0.5% 0.5% 0;
	border: 0.2em solid #303030;
	border-radius: 1em;
	vertical-align: middle;
	max-width: 32%;
	height: 20em;
}

/*----- FOOTER -----*/
#footer{
	color: #888888;
	text-align: center;
	padding: 1.5em 2.5%;
	border-radius: 1em;
	letter-spacing: 0.19em;
}

#footer .break-line{
	display: none;
}

#footer a{
	color: inherit;
	font-weight: bold;
}

#footer a:hover{
	text-decoration: underline;
}

#admin a{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

#admin{
	margin-top: 1em;
}

/*----- COMMON -----*/
.error{
	color: #C00000;
}

.normalized-error{
	color: #C00000;
	font-size: 1.4em;
	padding: 1em 1%;
}

.text-paragraph{
	margin-top: 0.5em;
}

.text-paragraph a{
	font-weight: bold;
}

.in-text-link{
	font-weight: bold;
}

.in-text-link:hover{
	text-decoration: underline;
}

a{
	color: inherit;
	text-decoration: none;
}

.shadow{
	text-shadow: -0.1em 0.1em 0.2em #888888;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

/*----- MEDIA QUERIES -----*/
@media only screen and (max-width: 768px) {
	#wrapper{
		margin: 1% 1.5%;
	}

	#logo{
		float: none;
		display: none;
	}

	.social{
		margin-left: 96%;
	}

	#download span:first-child{
		font-size: 1.3em;
		font-weight: bold;
	}

	#download span {
		font-size: 1.15em;
	}

	.text-paragraph ul{
		margin-left: 20px;
	}

	#container-right{
		width: 100%;
		float: none;
		padding: 1em 0 3em 0;
	}

	#header .clear{
		clear: none;
	}

	#text{
		margin-top: 3%;
	}

	.keep-calm{
		width: 16em;
	}

	#play-right{
		width: 34%;
	}

	#play-left{
		width: 65%;
	}

	#play .break-line{
		display: none;
	}

	.post{
		margin: 0.4em 0;
	}

	.transparent{
		margin-top: 0.5em !important;
	}

	#play-container, #content{
		margin-top: 0.7em;
	}

	#content .back{
		width: 6%
	}

	#photogallery{
		width: 94%
	}

	#photogallery img{
		max-width: 28.5%;
		border: none;
		border-radius: 1em;
	}
}

@media only screen and (max-width: 480px) {
	#text{
		display: none;
	}

	.social{
		display: none;
	}

	#header{
		background-image: none;
	}

	#container-right{
		padding: 0;
	}

	#menu{
		margin: 0 auto;
		width: 100%;
	}

	#menu li{
		display: block;
		width: 100%;
		margin-right: 0;
		text-align: center;
		background-image: url(../img/background_05.png);
		margin: 0.4em 0;
		border-radius: 0.4em;
		padding: 0.5em 0;
	}

	#menu .active, #menu li:hover{
		border-bottom: none;
	}

	#menu .active a span{
		color: #C00000;
		border-bottom: none;
	}

	.post{
		margin: 0.5em 0;
	}

	.transparent{
		margin-top: 0;
	}

	#mask{
		display: none;
	}

	#upper-shadow{
		display: none;
	}

	.keep-calm{
		display: none;
	}

	#description, .post{
		font-size: 1.3em;
	}

	.post .title{
		font-size: 1.6em;
	}

	#play-container, #footer {
		font-size: 90%;
	}

	#play-right{
		margin-top: 0.6em;
		width: 100%;
	}

	#play-left{
		width: 100%;
	}

	#content .back{
		display: none;
	}

	#photogallery{
		float:	none;
		width: 100%;
		margin: 0 auto;
	}

	#photogallery img{
		margin: 0 10% 0.9em 10%;
		max-width: 80%;
		border: none;
		border-radius: 1em;
		height: auto;
	}

	#main-wrapper{
		width: 100%;
		height: 27em;
	}

	#main-wrapper img{
		height: 20em;
	}

	#main-wrapper .description{
		top: 20em;
		height: 7em;
	}

	.description #button-left, .description #button-right{
		height: 4em;
	}

	.description .info-container{
		width: 76%;
		margin-left: 4%;
	}

	.description .button-container{
		width: 10%;
		margin-top: 2%;
	}

	.description .album-title{
		font-size: 1em;
	}

	.description .album-description{
		display: none;
	}

	#content .clear{
		clear: none;
	}

	#footer{
		line-height: 2em;
	}

	#footer .break-line{
		display: inline;
	}

	#admin{
		display: none;
	}
}

@media only screen and (max-width: 320px) {
	#wrapper{
		margin: 2% 2%;
	}
}
