/*----- BODY -----*/
body{
	/* default bowser font size 16px, with font size of 62.5% => 1em = 10px */ 
	font-size: 62.5%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #404040));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #404040 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #000000 0%, #404040 100%);
}

/*----- PAGE WRAPPER -----*/
#wrapper{
	max-width: 96em;
	margin: 3% auto;
}

/*----- HEADER -----*/
#header{
	margin-bottom: 1%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	max-height: 20em;
}

#logo{
	width: 25%;
}

#logo img{
	z-index: 1;
	position: relative;
	width: 130%;
	margin-top: -13.5%;
	left: -25%;
}

#container-right{
	width: 75%;
	max-height: inherit;
	position: relative;
	text-align: center;
}

#text{
	position: relative;
	font-family: 'Julius Sans One', sans-serif;
	color: #303030;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 5.2em;
	text-align: center;
	letter-spacing: 0.25em;
	margin-top: 8%;
}

#menu{
	position: relative;
	margin-top: 8%;
	left: -20%;
	width: 130%;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

#menu ul{
	list-style:none;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#menu li{
	display: inline;
	margin-right: 4.5em;
	padding: 0 0.4em;
	text-align: center;
}

#menu .last{
	margin-right: 0;
}

#menu li a {
	text-decoration: none;
}

#menu li a span{
	color: #303030;
}

#menu .active, #menu li:hover{
	border-bottom: 0.15em solid #303030;
}

/*----- PAGE CONTENT -----*/
#content{
	padding: 3.5% 2.5% 2.5% 2.5%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	margin-bottom: 1%;
}

/*----- WHO WE ARE -----*/
#mask{
	background-color: transparent;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#main-container{
}

.slide{
	display: none;
}

.slide img{
	width: 100%;
	height: 55%;
}

.current {
    display: block;
}

#upper-shadow{
	margin-top: 0.1%;
	width: 100%;
}

#description{
	font-size: 1.2em;
	margin-top: -5%;
	line-height: 2.5em;
}

/*----- PLAY WITH US-----*/
#play{
	font-size: 1.2em;
	width: 63%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	line-height: 2.5em;
	padding: 1% 2.5%;
}

#download{
	font-size: 1.2em;
	margin-top: -1.8em;
	width: 28%;
	margin-right: 1%;
	background-image: url(../img/background_05.png);
	border-radius: 1em;
	line-height: 2.5em;
	padding: 2.8% 1.5% 1% 1.5%;
}

#download > span{
	font-size: 1.2em;
	font-weight: bold;
}

#download div{
	margin-bottom: 1em;
	display: block;
	cursor: pointer;
}

#download div .first{
	margin-top: 1em;
}

#download img{
	margin-right: 1em;
	vertical-align: middle;
}

.download-thumbnail{
	width: 2em;
	height: 2em;
}

.keep-calm{
	width: 20em;
	margin: 1.5% 0 0 1%;
}

/*----- FOOTER -----*/
#footer{
	color: #888888;
	text-align: center;
	padding: 2.5%;
	border-radius: 1em;
	letter-spacing: 0.17em;
}

#footer a{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

#admin{
	margin-top: 1em;	
}

/*----- COMMON -----*/
a{
	color: inherit;
	text-decoration: none;
}

.shadow{
	text-shadow: -0.1em 0.1em 0.2em #888888;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}